body {
  background-image: radial-gradient(rgb(71, 71, 71) 1px, transparent 0);
  background-size: 40px 40px;
}
.App {
  text-align: center;
  /* margin-left: 20px; */
  /* margin-top: 3.5%; */
  /* background-color: black; */
}
.head1 {
  font-size: 50px;
  background-color: white;
}
.head2 {
  margin-left: 160px;
}
.text {
  border: none;
  border-bottom: 1px solid black;
  font-size: 28px;
  width: 150px;
  transition: all 0.5s ease-in-out;
  transform: translate3d(500px, -100px, 0);
}
.input {
  transform: translate3d(400px, -50px, 0);
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
